.home {
  position: relative;

  .header {
    @include dims(auto, var(--header-height));
    padding: 0 desktop-vw(40px);

    .logoC {
      @include dims(desktop-vw(215px), desktop-vw(56px));

      @include mobile {
        @include dims(mobile-vw(150px), mobile-vw(40px));
      }
    }
  }

  .bottomImgC {
    @include position(absolute, auto, 0, desktop-vw(-180px), 50%);
    @include dims(100vw, auto);
    opacity: 0.5;
    pointer-events: none;
    transform: translateX(-50%);
    z-index: 1000;

    @include mobile {
      @include position(fixed, auto, 0, 0%, 50%);
      @include dims(180vw, auto);
    }
  }

  .mobile {
    // @include dims(100vw, 100%);

    .iceGlassC {
      @include dims(mobile-vw(230px), mobile-vw(330px));
    }

    .iceC {
      &.b1 {
        @include position(absolute, mobile-vw(250px), auto, auto, mobile-vw(50px));
        @include dims(mobile-vw(75px));
      }

      &.b2 {
        @include position(absolute, mobile-vw(200px), auto, auto, mobile-vw(260px));
        @include dims(mobile-vw(100px));
      }

      &.b3 {
        @include position(absolute, mobile-vw(350px), auto, auto, mobile-vw(300px));
        @include dims(mobile-vw(100px));
      }

      &.b4 {
        @include position(absolute, mobile-vw(350px), auto, auto, mobile-vw(-20px));
        @include dims(mobile-vw(100px));
      }
    }
  }
}
